name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node.js environment
        uses: actions/setup-node@v2.4.1
        with:
          node-version: ">=16.10.0"
      - uses: actions/checkout@v2
      - name: Install Dependencies
        run: yarn
      - name: Test & Coverage
        run: yarn test:coverage
      - name: Build
        run: yarn build
      - uses: actions/upload-artifact@v2
        with:
          name: piep
          path: |
            build
            coverage
